@import '../../utils/common';
@import '../../utils/variables';

.container {
  @include flexRowSpaceBetween;

  border: $border;
  border-radius: 0.5rem;
  background-color: $bg-white;
  margin-bottom: 0.5rem;
  padding: 0.5rem;

  p {
    text-align: left;
  }

  img {
    width: 1.2rem;
  }
}
