@import '../../utils/variables';

.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba($btn-dismiss, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.modalContainer {
  padding: 3rem;
  background-color: $bg-white;
  border: $border;
  border-radius: 0.5rem;
}
