// text colors
$text-color-primary: #000;
$text-color-secondary: #fff;
$text-color-error: #ff0000;

// button colors
$btn-primary: #1b7ced;
$btn-secondary: #ff0000;
$btn-dismiss: #c0c0c0;
$btn-transparent: 'transparent';

// background colors
$bg-white: #fff;
$bg-silver: #f7f9fb;

$border: 1px solid silver;
